/* 
Name: Davin Bush, CeeCee Hill, Jonathan Houge
Course: CSC 337 - Web Programming
Assignment: Final Project - Bananagrams
File: game.css
Date: 11/13/23

This file is the 'game.css' for the 'Bananagrams' web application.
It gives 'game_html' the required styling to give the client a
pleasant interface to interact with while playing the game
including font-size, element locations, bananagrams theme styling, etc.
*/

body {
  background-color: rgb(253, 255, 156);
  color: black;
  font-family: monospace;
}

/* Game Board Section */
#gameGrid {
  position: fixed;
  margin: auto;
  height: 80%;
  width: 100%;
  top: 0;
  left: 0;
}

table {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
  table-layout: fixed;
}

tr {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  height: 20px;
}

.gridTile {
  aspect-ratio: 1;
  height: 20px;
  overflow: hidden;
  border: 2px solid grey;
}

/* Bottom Panel Section */
#bottomPanel {
  position: fixed;
  height: 18%;
  left: 0;
  bottom: 0;
}

#tilePool {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
  left: 0;
  right: 20;
  height: 100%;
  width: 80%;
}

#actionButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  right: 0;
  left: 80;
  height: 18%;
  width: 20%;
  border-left: 4px solid black;
}

.actionButton {
  flex: 1;
  margin: 5%;
  height: 50%;
  width: 80%;
  text-align: center;
  font-family: monospace;
  font-size: xx-large;
  background-color: rgb(234, 215, 174);
  border: 3px solid rgb(41, 28, 28);
  border-radius: 5px;
  color: rgb(59, 31, 24);
}

.wrap {
  flex: 1;
  flex-grow: 0;
}

.bananaTile {
  margin: 10%;
  text-align: center;
  font-size: large;
  background-color: rgb(234, 215, 174);
  border: 3px solid rgb(41, 28, 28);
  border-radius: 5px;
  color: rgb(59, 31, 24);
  height: 20px;
  width: 20px;
}

.bananaGridtile {
  text-align: center;
  font-size: large;
  background-color: rgb(234, 215, 174);
  border: 3px solid rgb(41, 28, 28);
  border-radius: 5px;
  color: rgb(59, 31, 24);
  height: 20px;
  width: 20px;
}

/* Return Home CSS */
p {
  text-align: center;
  font-size: 40px;
}

#return {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.returnHome {
  margin: 10%;
  text-align: center;
  font-family: monospace;
  font-size: 40px;
  background-color: rgb(234, 215, 174);
  border: 3px solid rgb(41, 28, 28);
  border-radius: 5px;
  color: rgb(59, 31, 24);
}
