/* 
Name: Davin Bush, CeeCee Hill, Jonathan Houge
Course: CSC 337 - Web Programming
Assignment: Final Project - Bananagrams
File: login.css
Date: 11/13/23

-- STILL OOSTA, EDIT WHEN PAGE IS DONE --
This file is the 'login.css' for the 'Bananagrams' web application.
It gives 'index_html' the required styling to give the client a
pleasant interface to interact with for dealing with account creation
and login, including font-size, element locations, etc.

There are some absolute pixel sizes ('px' instead of 'vw' or 'vh')
to ensure spacing between labels and inputs.
*/

body {
  background-color: rgb(253, 255, 156);
  color: black;
  overflow-y: scroll;
  font-family: monospace;
}

#loginHeader {
  width: 50vw;
  margin: auto;
}

#login {
  padding-top: 15vh;
  width: 50vw;
  margin: auto;
}

h1,
h2 {
  margin-bottom: 0;
  padding-bottom: 1vh;
  margin-top: 3vh;
}

label,
button,
p {
  font-size: 30px;
  font-family: monospace;
  color: black;
  border-radius: 0;
}

label {
  width: 80px;
  display: inline-block;
  text-align: left;
  margin-right: 60px;
}

button {
  margin-left: 10px;
  display: inline-block;
}

p {
  margin-top: 5px;
  color: red;
}

#problem {
  display: none;
  color: red;
}

input {
  margin: 5px;
  height: 30px;
  font-family: monospace;
  font-size: 30px;
}

.banana_tile {
  margin: 2px;
  text-align: center;
  font-size: 40px;
  background-color: rgb(234, 215, 174);
  border: 3px solid rgb(41, 28, 28);
  border-radius: 5px;
  color: rgb(59, 31, 24);
  height: 50px;
  width: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
